.artists {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__img {
    border-radius: 16px;
    width: 288px;
    height: 177px;
    object-fit: cover;
    object-position: top;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__genre {
    border: 1px solid #ffffff33;
    border-radius: 6px;
    padding: 4px 10px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Epilogue', sans-serif;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #ffffff;
  }

  &__desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }

  &__learn-more {
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: start;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 125px;
    height: 27px;
    color: #ffffff;
    background-color: #060307;
  }

  &__learn-more:hover {
    opacity: 0.6;
  }

  &__learn-more-icon {
    fill: #ffffff;
  }

  @media (min-width: 768px) {
    .artists {
      &__item:last-child {
        margin-bottom: 32px;
      }

      &__img {
        width: 704px;
        height: 432px;
      }
    }
  }

  @media (min-width: 1440px) {
    .artists {
      &__list {
        margin-bottom: 64px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
      }

      &__item {
        width: calc((100% - 32px) / 2);
      }

      &__img {
        width: 640px;
        height: 393px;
      }
    }
  }
  .album-card {
    padding: 14px 11px;
    background: #140f16;
    border-radius: 16px;
    min-width: 272px;
  }

  .album-card__tracks {
    margin-top: 48px;
   
    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      color: #fff;
      margin-bottom: 32px;
    }

    &-list {
      display: grid;
      gap: 24px;
    }

    &-card {
      background: #140f16;
      border-radius: 16px;
      padding: 24px;
    }

    &-card-title {

      font-weight: 700;
      font-size: 24px;
      letter-spacing: -0.01em;
      line-height: 1.3;
      color: #fff;
      margin-bottom: 32px;
    }

    &-tracks {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-track {
      display: grid;
      grid-template-columns: 1fr 60px 32px;
      align-items: center;
      padding: 8px 12px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.05);
      font-size: 14px;
      color: #fff;
    }

    &-track-time {
      text-align: center;
      opacity: 0.7;
    }

    &-track-link {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: #fff;
        opacity: 0.7;
        transition: 0.3s;
      }

      &:hover svg {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  @media (min-width: 768px) {
  .modal__albums {
    &-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    &-title {
      font-size: 36px;
    }
  }
}
@media (min-width: 1440px) {
  .modal__albums {
    margin-top: 80px;

    &-title {
      font-size: 44px;
    }

    &-list {
      gap: 40px;
    }
  }
}


}
