.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  &__content {
    position: relative;
    background-color: #060307;
    padding: 64px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    min-width: 1440px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #ffffff;
  }

  &__title {
    margin-top: 64px;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  &__body {
    margin: 48px 0;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
    display: flex;
    min-width: 1185px;
    min-height: 374px;
    gap: 32px;

    & > .modal__image-artist {
      width: 575px;
      height: 355px;
      background-color: #ddd; /* тимчасове місце для картинки */
      border-radius: 8px;
      flex-shrink: 0;
    }

 .modal__description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  // Grid 2x2 для характеристик
  &-grid {
    max-width: 145px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 24px; // вертикальні і горизонтальні відступи по 24px

    .modal__description-item {
        width: 145px;
      display: flex;
      flex-direction: column;

      .modal__description-title {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 4px;
        width: 145px;
      }

      p {
        font-size: 16px;
        color: #fff;
      }
    }
  }

  // Біографія під grid
  &-bio {

    max-width: 576px;
    .modal__description-bio-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 8px;
      color: #fff;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #fff;
    }
  }
}


  }
}
