.more-open {
  overflow: hidden;
}

.modal {
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 28, 31, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__artist-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }
  &__content {
    position: relative;
    width: min(1312px, calc(100% - 32px));
    max-height: calc(100vh - 32px);
    overflow: auto;
    background: rgba(20, 18, 21, 0.96);
    border-radius: 24px;

    padding: 64px;
    max-width: 1312px;
    display: grid;
    grid-template-columns: 1fr;
  }

  &__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #fff;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__title {
    font-family: 'Epilogue', sans-serif;
    margin-top: 64px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    max-width: 1184px;
  }

  &__body {
    max-width: 100%;
    align-items: flex-start;

    margin: 48px 0;
    display: grid;
    gap: 32px;
    justify-content: center;
    justify-items: center;
    max-width: 1185px;

    .modal__image-artist {
      width: 360px;
      height: 280px;
      overflow: hidden;
      flex-shrink: 0;
    }

    .modal__image-artist-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 16px;
    }

    .modal__description {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      max-width: 575px;

      &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        position: relative;
      }

      &-bio {
        max-width: 576px;
        height: 162px;
        overflow-y: auto;
        scrollbar-width: none;
      }
    }

    .modal__description-bio-title {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.5;
      color: #fff;
      overflow: hidden;
    }

    .modal__description-bio-text {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      color: #fff;
      max-width: 576px;
    }

    .modal__description-item {
      display: flex;
      flex-direction: column;
      max-width: 150px;
    }

    .modal__description-title {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 4px;
      position: relative;
      max-width: 145px;
    }

    .modal__description-value {
      font-size: 16px;
      color: #fff;
    }

    // .modal__description-genres {
    //   background: #fff;
    // } // не используется

    .modal__description-genres-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    // .modal__description-bio-scroll {
    //   max-height: 162px;
    //   overflow-y: auto;
    //   scrollbar-width: none;
    // } // повторяется Строки 95-100

    .modal__description-genres-item {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      padding: 4px 10px;
    }
  }

  .marg {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .modal__content {
    padding: 24px;
    max-width: 700px;
  }

  .modal__close-btn {
    font-size: 32px;
    right: 47px;
  }

  .modal__title {
    max-width: 655px;
  }

  .modal__body {
    margin-top: 32px;
    max-width: 100%;
    flex-direction: column;
  }

  .modal__image-artist {
    width: 655px !important;
    height: 400px;
    overflow: hidden;
  }

  .modal__description {
    gap: 20px;
    max-width: 100%;
  }

  .modal__image-artist-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  .modal__description-grid {
    gap: 24px;
  }

  .modal__description-bio {
    max-width: 100%;
  }

  .modal__description-bio-text {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .modal__content {
    padding: 16px;
    max-width: 100%;
  }

  .modal__body .modal__description-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .modal__close-btn {
    font-size: 32px;
    right: 16px;
    top: 16px;
  }

  .modal__title {
    font-size: 20px;
    margin-top: 32px;
    max-width: 272px;
  }

  .modal__body {
    gap: 16px;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .modal__image-artist {
    width: 100% !important;
    height: 167px !important;
  }

  .modal__description-bio {
    width: 100%;
    overflow-y: auto;
  }
}
