$main-background: #060307;
$opacity-neutral-darkest: #0603070d;

$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.6);
$white-opacity: rgba(255, 255, 255, 0.2);

$primary-color: #764191;
$primary-color-opacity: rgba(118, 65, 145, 0.6);
$primary-color-opacity: rgba(118, 65, 145, 0.2);

$color-error: #af0404;


