.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 950;
    background-color: $main-background;
    padding: 0 16px;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 119px;
    height: 51px;
}

.header__nav {
    display: none;
}

.header__nav-link {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 18px;
    line-height: 150%;
    padding: 0;
}

.burger {
    display: block;
    background-color: transparent; 
    border: none;
}

.burger__icon {
    fill: #ffffff; 
}

.mobile-menu__close {
    background-color: transparent;
    border: none;
}

.mobile-menu__close-icon {
    fill: #ffffff;  
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $main-background;
    transform: translateX(100%);
    transition: transform 300ms ease;
    z-index: 999;
    width: 100%;
    height: 100%;

&.is-open {
    transform: translateX(0);
}}

.mobile-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6.5px;
    margin-bottom: 45.5px;
}

.mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.mobile-menu__nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.no-scroll {
    overflow: hidden;
}



/* Styles for Tablet devices */
@media screen and (min-width: 768px) {

.header {    
    height: 72px;
}

.header__nav {
    display: block;    
}

 .header__nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.burger {
    display: none;
}
}



