.hero {
  background-color: #23132b;
  padding-top: 64px;
  position: relative;
  overflow: hidden;
  max-height: 1031px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, #060307 0%, rgba(35, 19, 43, 0) 100%);
    z-index: 2;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 106px;
    background: linear-gradient(180deg, rgba(35, 19, 43, 0) 0%, #060307 100%);
    z-index: 2;
    pointer-events: none;
  }

  > .container {
    position: relative;
    z-index: 3;
  }

  &__title {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: #fff;
    max-width: 288px;
    margin-bottom: 20px;
  }

  &__text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 24px;
    text-align: left;
    max-width: 288px;
  }

  &__btn {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    box-shadow:
      0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #764191;
    border-radius: 12px;
    border: none;
    padding: 10px 24px;
    width: 288px;
    height: 47px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 64px;
  }

  &__btn:hover,
  &__btn:active,
  &__btn:focus {
    box-shadow:
      0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #764191;
    opacity: 0.6;
  }

  &__btn-icon {
    fill: #fff;
  }

  &__media {
    width: 100%;
    height: 385px;
    background-image: url('/img/hero-mob-1x.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;

    @media screen and (min-resolution: 2x),
      (-webkit-min-device-pixel-ratio: 2) {
      background-image: url('/img/hero-mob-2x.webp');
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
    max-height: 995px;

    &::before {
      height: 125px;
    }

    &::after {
      height: 137px;
    }

    &__title {
      max-width: 624px;
      margin-bottom: 24px;
    }

    &__text {
      max-width: 624px;
      font-size: 20px;
      margin-bottom: 32px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__btn {
      margin: 0 0 32px 0;
      max-width: 246px;
    }

    &__media {
      height: 632px;
      background-image: url('/img/hero-tab-1x.webp');

      @media screen and (min-resolution: 2x),
        (-webkit-min-device-pixel-ratio: 2) {
        background-image: url('/img/hero-tab-2x.webp');
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 0;
    height: 100vh;
    max-height: 900px;

    &::before {
      height: 80px;
    }

    > .container {
      display: flex;
      align-items: stretch;
      height: 100%;
      gap: 34px;
      max-height: 900px;
    }

    &__content {
      max-width: 640px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      font-size: 84px;
      max-width: 640px;
      margin-bottom: 24px;
    }

    &__text {
      max-width: 640px;
    }

    &__media {
      flex: 1;
      height: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url('/img/hero-desk-1x.webp');
      @media screen and (min-resolution: 2x),
        (-webkit-min-device-pixel-ratio: 2) {
        background-image: url('/img/hero-desk-2x.webp');
      }
    }
  }
}
