<section class="artists">
  <div class="container">
    <div class="artists__content">
      <p>Artists</p>
      <div class="modal">
        <div class="modal__content">
          <button class="modal__close-btn">&times;</button>
          <div class="modal__header">
            <h2>Artists</h2>
          </div>
          <div class="modal__body">
            <p class="modal__paragraph">
              Here you can find information about your favorite artists.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
