<section class="artists">
  <div class="container">

    <div class="artists__content">
      <p>Artists</p>

      
    <div class="artists__text">
      <h2 class="artists__title">Artists</h2>
      <h3 class="artists__subtitle">Explore Your New Favorite Artists</h3>

    </div>
    <ul class="artists__list"></ul>
    <div class="loader">
      <div class="spinner"></div>
    </div>
    <button class="artists__button">
      Load More
      <svg
        class="artists__load-more-icon"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.414 6.707L12 5.293L7.707 9.586V0H5.707V9.586L1.414 5.293L0 6.707L6.707 13.414L13.414 6.707Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
  <div id="modal-root" class="modal"></div>
</section>