<section class="artists">
  <div class="container">
    <div class="artists__content">
      <p>Artists</p>

      <div class="modal">
        <div class="modal__content">
          <button class="modal__close-btn">&times;</button>

          <div class="modal__header">
            <h2 class="modal__title">Unlike Pluto</h2>
          </div>

          <div class="modal__body">
            <!-- Ліва колонка: фото артиста -->
            <div class="modal__image-artist"></div>

            <!-- Права колонка: опис артиста -->
            <div class="modal__description">
              <!-- Верхня частина: характеристики -->
              <div class="modal__description">
  <!-- 2x2 характеристики -->
                <div class="modal__description-grid">
                  <div class="modal__description-item">
                    <h3 class="modal__description-title">Years active</h3>
                    <p>2013–present</p>
                  </div>
                  <div class="modal__description-item">
                    <h3 class="modal__description-title">Sex</h3>
                    <p>Male</p>              
                  </div>
                  <div class="modal__description-item">
                    <h3 class="modal__description-title">Members</h3>
                    <p>1</p>
                  </div>
                  <div class="modal__description-item">
                    <h3 class="modal__description-title">Country</h3>
                    <p>United States</p>
                  </div>
                </div>              
  <!-- Біографія -->
                <div class="modal__description-bio">
                  <h3 class="modal__description-bio-title">Biography</h3>
                  <p>Armond Arabshahi, known by his stage name Unlike Pluto, is an American singer, songwriter, music producer, and former DJ. He is mainly known for his song "Everything Black", released under the record label Monstercat in 2017, which he produced with Philadelphia-based vocalist and DJ Mike Taylor.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
