<footer class="footer" id="footer">
  <div class="footer__container container">
    <div class="footer__inner">

      <a href="../index.html" class="footer__logo">
        <svg class="footer__logo-icon footer__logo-icon--mobile" width="84" height="36">
          <use href="/img/b-logos.svg#f-mob-logo"></use>
        </svg>

        <svg class="footer__logo-icon footer__logo-icon--desktop" width="116" height="45">
          <use href="/img/b-logos.svg#main-f-logo"></use>
        </svg>
      </a>

      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="#artists" class="footer__nav-link">Artists</a>
          </li>
          <li class="footer__nav-item">
            <a href="#about" class="footer__nav-link">About us</a>
          </li>
          <li class="footer__nav-item">
            <a href="#reviews" class="footer__nav-link">Reviews</a>
          </li>
        </ul>
      </nav>

      <div class="footer__bottom">
        <p class="footer__copyright">&copy; 2025 ArtistsHub. All rights reserved.</p>

        <ul class="footer__socials">
          <li class="footer__socials-item">
            <a href="https://www.instagram.com/" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
              <svg width="40" height="40" class="footer__socials-icon footer__socials-icon--mobile">
                <use href="/img/footer-icons.svg#Instagram-mob"></use>
              </svg>
              
              <svg width="32" height="32" class="footer__socials-icon footer__socials-icon--tab">
                <use href="/img/icons (2).svg#icon-Youtube"></use>
              </svg>

              <svg width="24" height="24" class="footer__socials-icon footer__socials-icon--desktop">
                <use href="/img/footer-icons.svg#Instagram-pc"></use>
              </svg>
            </a>
          </li>

          <li class="footer__socials-item">
            <a href="https://www.facebook.com/" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
              <svg width="40" height="40" class="footer__socials-icon footer__socials-icon--mobile">
                <use href="/img/footer-icons.svg#Facebook-mob"></use>
              </svg>
              
              <svg width="32" height="32" class="footer__socials-icon footer__socials-icon--tab">
                <use href="/img/icons (2).svg#icon-Facebook"></use>
              </svg>

              <svg width="24" height="24" class="footer__socials-icon footer__socials-icon--desktop">
                <use href="/img/footer-icons.svg#Facebook-pc"></use>
              </svg>
            </a>
          </li>

          <li class="footer__socials-item">
            <a href="https://www.youtube.com/" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
              <svg width="40" height="40" class="footer__socials-icon footer__socials-icon--mobile">
                <use href="/img/footer-icons.svg#Youtube-mob"></use>
              </svg>

              <svg width="32" height="32" class="footer__socials-icon footer__socials-icon--tab">
                <use href="/img/icons (2).svg#icon-Youtube"></use>
              </svg>

              <svg width="24" height="24" class="footer__socials-icon footer__socials-icon--desktop">
                <use href="/img/footer-icons.svg#Youtube-pc"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>