// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&family=IBM+Plex+Sans:wght@400;600&family=Roboto:wght@700&display=swap');

// Utils
@import 'utils/variables';
@import 'utils/mixins';

// Base styles
@import 'reset';
@import 'base';
@import 'animations';
@import 'container';

// Components
@import 'components/artists-card';
@import 'components/loader';
@import 'components/modal';
@import 'components/fmodal';

// Sections
@import 'sections/header';
@import 'sections/hero';
@import 'sections/about';
@import 'sections/artists';
@import 'sections/feedback';
@import 'sections/footer';
